commands:
  set_env_var:
    command: dnf -y localinstall https://dev.mysql.com/get/mysql80-community-release-el9-4.noarch.rpm && dnf -y install mysql mysql-community-client && dnf -y install mysql-devel && dnf -y install mysql-community-devel && export MYSQLCLIENT_LDFLAGS=$(pkg-config --libs mysqlclient) && export MYSQLCLIENT_CFLAGS=$(pkg-config --cflags mysqlclient)

